.done {
  text-decoration: line-through;
  color: red;
}

.showDelete {
 display: block;
}

.hide {
 display: none;
}

.errorRed {
 background: yellow;
 color: red;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
 margin: 0 4rem;
}